aniso8601==8.0.0
asyncio==3.4.3
certifi==2020.6.20
click==7.1.2
cloudmersive-ocr-api-client==3.0.1
cloudmersive-validate-api-client==3.0.3
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.7.1
progress==1.5
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
urllib3==1.25.10
webargs==6.1.0
Werkzeug==1.0.1
gunicorn
